<div>문서 등록</div>

<form [formGroup]="addFileForm" novalidate>

    <mat-form-field appearance="outline">
        <mat-label>문서 제목</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="addFileForm.controls['title'].hasError('required')">
        제목을 입력해주세요.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>문서</mat-label>
        <input matInput formControlName="file" />
        <mat-error *ngIf="addFileForm.controls['file'].hasError('required')">
        문서를 올려주세요.
        </mat-error>
    </mat-form-field>

    <button mat-flat-button (click)="addFile()">문서 등록</button>
</form>