<div>문서 등록</div>

<form [formGroup]="addFileForm" novalidate>

    <mat-form-field appearance="outline">
        <mat-label>파일 제목</mat-label>
        <input matInput formControlName="fileTitle" />
        <mat-error *ngIf="addFileForm.controls['fileTitle'].hasError('required')">
        제목을 입력해주세요.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>파일</mat-label>
        <input matInput formControlName="file" />
        <mat-error *ngIf="addFileForm.controls['file'].hasError('required')">
        파일을 올려주세요.
        </mat-error>
    </mat-form-field>

    <button mat-flat-button (click)="addFile()">문서 등록</button>
</form>